body{
    font: small-caps 100%/200% serif;
    background-color: #FEEBE7;
    line-height:1.6;
}
   
header{
        background-color:#333;
        color:#fff;
        padding:0;
        text-align:center;
}

      .hero h1{
          font-size:2em;
          margin:0;
          text-align:center;
}

.hero-content{
   display:felx;
    align-items:center
    }

.hero-content{
   display:felx;
    align-items:center
    }


.hero-content img{
 width:40px;
    height:200px;
    object-fit:cover;
    margin-right:2em;
}

.hero-content p{
    width:60px;
    }

.proyectos{
    display:flex;
    flex-warp:warp;
    justify-content:center;
    gap:20px;
}

.proyect-content{
    margin:1;
    width:100%;
    background-color:#f2f2f2;
    padding:1;
    border:1px solid #ddd;
    border-radius:10px;
    box-shadow:0 0 10px rgba (0,0,0,0.1);
    }

.proyect-content img{
    width:40%;
    height:200px;
    object-fit:cover;
    margin-right:2;
    }

.proyect-content p{
    widht:60%;
    }

footer{
    background-color:#black;
    color:#fff;
    padding:0;
    text-align:center;
    }
    
  
  
    
